<h1>Liste des projets</h1>

<ul>
    {% for project in projects %}
        <li>
            <h2>
                <a href="{% url 'project_detail' pk=project.id %}">{{ project.name }}</a>

            </h2>
            <p>{{ project.description }}</p>

            <ul>
                {% for task in project.tasks_list %}
                    <li>{{ task.name }} - {{ task.description }}</li>
                {% empty %}
                    <li>Aucune tâche pour ce projet.</li>
                {% endfor %}
            </ul>

            <a href="{% url 'task_create' pk=project.id %}">Ajouter une tâche</a>
        </li>
    {% endfor %}
</ul>
